@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --iframe-top: 0px;
}

#iframe-inner {
    @apply p-0 m-0 absolute left-0 right-0 bottom-0 w-full;
    top: var(--iframe-top, 0);
    -webkit-app-region: no-drag;
}

iframe {
    @apply w-full h-full;
}

.window-control {
    @apply flex flex-row justify-end items-stretch bg-[#f1f3f4] dark:bg-[#363238];
    /* background-color: #f1f3f4; */
    height: var(--iframe-top);
    -webkit-app-region: drag;
}

.window-control-button {
    @apply flex justify-center items-center hover:bg-gray-200;
    width: var(--iframe-top);
    height: var(--iframe-top);
    display: none;
}

