.drawio-plugin__preview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    max-width: 100%;
    cursor: default;
}

.drawio-plugin__preview > svg {
    max-width: 100%;
}

.drawio-plugin__preview > .overlay {
    display: none;
    @apply absolute left-0 right-0 top-0 bottom-0;
    background-image: linear-gradient(var(--ls-primary-background-color),transparent);
}

.drawio-plugin__preview:hover > .overlay {
    display: block;
}

.drawio-plugin__toolbar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.drawio-plugin__preview:hover .drawio-plugin__toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.drawio-plugin__toolbar-actions {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.drawio-plugin__toolbar-actions button {
    display: inline-flex;
    cursor: pointer;
    width: 18px;
    height: 18px;
    @apply mx-1;
}

.drawio-plugin__toolbar-actions button > svg {
    width: 100%;
    height: 100%;
}
